@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=REM:wght@100;200;300&family=Roboto+Mono&family=Roboto:wght@400;700&display=swap');

.mainbottom {
    color: white;
    margin-left: 23rem;
    height: 100vh;
}

.musicstab {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(400px, 1fr));
}

.music {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.music img {
    width: 10rem;
    height: 8rem;
    border-radius: 30px;
}

.musicdownload {
    border-radius: 10px;
    width: 6rem;
    height: 1.5rem;
    background-color: green;
    border: 0px solid;
    font-family: 'Inter, sans-serif';
    color: rgb(31, 30, 30);
}


