@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=REM:wght@100;200;300&family=Roboto+Mono&family=Roboto:wght@400;700&display=swap');

.mainbottom {
    color: white;
    margin-left: 30rem;
}

.musicstab {
    display: flex;
    gap: 8rem;
}

.music {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music img {
    width: 10rem;
    height: 8rem;
    border-radius: 30px;
}


