.playlist-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: #FFFFFF;
    gap: 40px;
    z-index: 1;
    position: relative;
}

.playlist-container #add-music-button {
    width: 10rem;
    min-height: 2.5rem;
    border-radius: 15px;
    background-color: #030303;
    color: #FFFFFF;
}

.playlist-container .playlist-info {
    display: flex;
    align-items: center;
}

.playlist-container .playlist-info .playlist-image-icon {
    width: 8rem;
    height: 7.5rem;
    background-color: #808080;
    border-radius: 5px;
}

.playlist-container .playlist-info img {
    cursor: pointer;
}

.playlist-container .playlist-info .playlist-image-icon:hover > .image-icon {
    opacity: 0;
}

.playlist-container .playlist-info .playlist-image-icon:hover > .change-image {
    opacity: 1;
}

.playlist-container .playlist-info .playlist-image-icon:hover > .change-image-text {
    opacity: 1;
}

.playlist-container .playlist-info .playlist-image-icon .image-icon {
    position: relative;
    left: 1rem;
    top: 1rem;
    width: 4rem;
}

.playlist-container .playlist-info .playlist-image-icon .change-image {
    position: relative;
    right: 2rem;
    width: 2rem;
    height: 3rem;
    opacity: 0;
}

.playlist-container .playlist-info .playlist-image-icon .change-image-text {
    opacity: 0;
    font-size: 15px;
}

.playlist-container .playlist-info .playlist-info-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
}

.playlist-container .playlist-info .playlist-info-name .playlist-info-playlist-name {
    font-size: 35px;
    font-weight: 600;
}

.playlist-container .playlist-info .playlist-info-name button {
    background: transparent;
}

.playlist-container .playlist-info .playlist-info-name button .playlist-info-owner-name {
    font-size: 12px;
    opacity: 0.6;
    color: #FFFFFF;
}


.playlist-container .musics-container {
    width: 100vh;
    height: auto;
    max-height: 40vh;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    overflow: auto;
}

.playlist-container .musics-container .counter {
    margin-right: 20px;
}

.playlist-container .musics-container::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

.playlist-container .musics-container::-webkit-scrollbar-thumb {
    background-color: black;
}

.playlist-container .musics-container div {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 20px;
}

.playlist-container .musics-container div img {
    width: 100px;
    height: 70px;
    border-radius: 10px;
}

.playlist-container .musics-container div div {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 10px;
}

.playlist-container .musics-container div div span {
    font-size: 12px;
    color: #808080;
}

.background-image {
    opacity: 0.04;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    top: 6rem;
}

#playlist-image {
    width: 8rem;
    height: 7rem;
    border-radius: 5px;
}