.offcanvas-header {
    background-color: #808080;
}

.offcanvas-title.h5 {
    width: 100%;
    text-align: center;
}

.offcanvas-body {
    background-color: #808080;
}

.offcanvas-body .queue-container {
    position: relative;
    margin-bottom: 30px;
    font-size: 13px;
}

.offcanvas-body .queue-container h5 {
    text-align: center;
    font-size: 14px;
}

.offcanvas-body .queue-container div {
    display: flex;
    align-items: center;
}

.offcanvas-body .queue-container div p {
    width: 40%;
    position: relative;
    top: 8px;
}

.offcanvas-body .queue-container div img {
    width: 4rem;
    height: 3rem;
    border-radius: 5px;
    margin: 15px;
}

.offcanvas-body .queue-container div .musicdownload-container {
    position: absolute;
    right: 2.5rem;
}

.offcanvas-body .queue-container .musicdownload-container button {
    background: transparent;
    border-radius: 100px;
    border: 2px solid #091227;
    height: 3rem;
    width: 3rem;
}

.offcanvas-body .queue-container .musicdownload-container button img {
    width: 2rem;
    height: 1.5rem;
    position: relative;
    right: 8px;
    bottom: 4px;
}
