.user-page {
    color: #FFFFFF;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.user-page button {
    width: 6rem;
    border-radius: 10px;
}

.user-playlists {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.user-playlists h5 {
    margin-bottom: 20px;
}

.user-playlists div {
    display: flex;
    gap: 20px;
}

.user-playlists div .playlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 10rem;
    border-radius: 10px;
    background-color: #131212;
    cursor: pointer;
}

.user-playlists div .playlist img {
    width: 6rem;
    height: 5.5rem;
    border-radius: 5px;
}

.user-playlists div .playlist button {
    width: 6rem;
    height: 5.5rem;
    background-color: #808080;
    border-radius: 5px;
}

.user-playlists div .playlist button svg {
    width: 3rem;
}